body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.ecran-fixe {
    width: 1920px;
    height: 1080px;

    overflow: hidden;

    margin: 0 auto;
}

html, body {
    width: 100vw;       /* largeur = largeur de la fenêtre */
    height: 100vh;      /* hauteur = hauteur de la fenêtre */
    margin: 0;
    padding: 0;
    overflow: hidden;   /* bloque tout défilement */
}


.texte-container {
    position: absolute;
    left: 2vh;
    top: 2vh;
    align-items: center;
    z-index: 5;
}

.titre-barres {
    color: #ffffff;
    font-size: 30px;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    z-index: 5;
    text-decoration: none;
}




.cercle1 {
    position: absolute;
    top: 3%;               /* centre vertical */
    left: 3%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 600px;           /* diamètre */
    height: 600px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(350px);     /* flou intense sur tout le cercle */
    z-index: 0;             /* derrière autres éléments si nécessaire */
}

.cercle2 {
    position: absolute;
    top: 50%;               /* centre vertical */
    left: 50%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 300px;           /* diamètre */
    height: 300px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(190px);     /* flou intense sur tout le cercle */
    z-index: 0;             /* derrière autres éléments si nécessaire */
}

.cercle3 {
    position: absolute;
    top: 90%;               /* centre vertical */
    left: 90%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 600px;           /* diamètre */
    height: 600px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(350px);     /* flou intense sur tout le cercle */
    z-index: 0;          /* derrière autres éléments si nécessaire */
}


.orbit {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

/* cercle 1 tourne lentement */
.orbit1 {
    animation: rotate1 3s linear infinite;
}

/* cercle 3 tourne dans l'autre sens */
.orbit3 {
    animation: rotate3 2s linear infinite;
}

/* ANIMATIONS */
@keyframes rotate1 {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes rotate3 {
    from { transform: rotate(360deg); }
    to   { transform: rotate(0deg); }
}


.login-container {
    width: 350px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(31,72,161,0.6);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 30;
}

.login-input {
    width: 90%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 18px;
    background: rgb(31,72,161);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    transform: scale(1.05);
}

.signup-text {
    margin-top: 30px;
    font-size: 14px;
}

.signup-link {
    color: rgb(31,72,161);  /* change la couleur ici si tu veux */
    text-decoration: none;
    font-weight: bold;
}

.signup-underline {
    width: 90px;
    height: 2px;
    background-color: rgb(31,72,161);  /* même couleur que le lien */
    margin: 5px auto 0;
    border-radius: 5px;
}
