
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}


/* RECTANGLE CYBER */
.rectangle1 {
    width: 590px;
    height: 490px;
    background: black;
    position: absolute;
    right: -420px;
    top: -80px;
    border-radius: 30px;
    box-shadow:
      0 0 15px rgb(31, 72, 161),
      0 0 40px rgba(255,255,255,0.1);
    z-index: -5;
}

.texte-container {
    position: absolute;
    left: 15vh;
    top: 40vh;
    align-items: center;
    z-index: 5;
}

.titre-barres {
    color: #ffffff;
    font-size: 200px;
    font-weight: bold;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.bar-top-1,
.bar-top-2,
.bar-bottom-1,
.bar-bottom-2 {
    height: 10px;
    background-color: #ffffff;
    width: 100%;
    margin: 3vh 0 0 0;
    z-index: 5;
}
.bar-top-2,
.bar-bottom-2 {
    width: 86.4%;
    z-index: 5;
}


.cercle1 {
    position: absolute;
    top: 3%;               /* centre vertical */
    left: 3%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 600px;           /* diamètre */
    height: 600px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(350px);     /* flou intense sur tout le cercle */
    z-index: 0;             /* derrière autres éléments si nécessaire */
}

.cercle2 {
    position: absolute;
    top: 50%;               /* centre vertical */
    left: 50%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 300px;           /* diamètre */
    height: 300px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(190px);     /* flou intense sur tout le cercle */
    z-index: 0;             /* derrière autres éléments si nécessaire */
}

.cercle3 {
    position: absolute;
    top: 90%;               /* centre vertical */
    left: 90%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 600px;           /* diamètre */
    height: 600px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(350px);     /* flou intense sur tout le cercle */
    z-index: 0;          /* derrière autres éléments si nécessaire */
}


.orbit {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

/* cercle 1 tourne lentement */
.orbit1 {
    animation: rotate1 3s linear infinite;
}

/* cercle 3 tourne dans l'autre sens */
.orbit3 {
    animation: rotate3 2s linear infinite;
}

/* ANIMATIONS */
@keyframes rotate1 {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes rotate3 {
    from { transform: rotate(360deg); }
    to   { transform: rotate(0deg); }
}





.boutons-container {
    position: absolute;        /*  tu peux maintenant le déplacer */
    top: 44%;                 /* ajuste comme tu veux */
    left: 73%;                /* ajuste comme tu veux */

    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 330px;
    z-index: 10;
}

.btn-rectangle {
    background-color: rgb(31, 72, 161);
    color: white;
    padding: 15px 20px;
    
    border: none;
    border-radius: 20px;

    font-size: 40px;
    font-family: fantasy;
    cursor: pointer;

    box-shadow: 
        0 0 10px rgb(31, 72, 161),
        0 0 10px rgba(255, 255, 255, 0.6);

    transition: 0.2s ease;
}

.btn-rectangle:hover {
    transform: scale(1.05);
    box-shadow: 
        0 0 10px rgb(31, 72, 161),
        0 0 10px rgba(255, 255, 255, 0.8);
}
