
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}


/* RECTANGLE CYBER */
.rectangle1 {
    width: 590px;
    height: 490px;
    background: black;
    position: absolute;
    right: -420px;
    top: -80px;
    border-radius: 30px;
    box-shadow:
      0 0 15px rgb(31, 72, 161),
      0 0 40px rgba(255,255,255,0.1);
    z-index: 0;
}

.texte-container {
    position: absolute;
    left: 15vh;
    top: 40vh;
    align-items: center;
}

.titre-barres {
    color: #ffffff;
    font-size: 200px;
    font-weight: bold;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.bar-top-1,
.bar-top-2,
.bar-bottom-1,
.bar-bottom-2 {
    height: 10px;
    background-color: #ffffff;
    width: 100%;
    margin: 3vh 0 0 0;
    z-index: 5;
}
.bar-top-2,
.bar-bottom-2 {
    width: 86.4%;
    z-index: 0;
}


.cercle1 {
    position: absolute;
    top: 3%;               /* centre vertical */
    left: 3%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 600px;           /* diamètre */
    height: 600px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(350px);     /* flou intense sur tout le cercle */
    z-index: 1;             /* derrière autres éléments si nécessaire */
}

.cercle2 {
    position: absolute;
    top: 50%;               /* centre vertical */
    left: 50%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 300px;           /* diamètre */
    height: 300px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(190px);     /* flou intense sur tout le cercle */
    z-index: 1;             /* derrière autres éléments si nécessaire */
}

.cercle3 {
    position: absolute;
    top: 90%;               /* centre vertical */
    left: 90%;              /* centre horizontal */
    transform: translate(-50%, -50%);
    width: 600px;           /* diamètre */
    height: 600px;
    border-radius: 50%;     /* cercle parfait */
    background: radial-gradient(circle, rgb(31, 72, 161) 0%, rgba(31, 72, 161) 70%);
    filter: blur(350px);     /* flou intense sur tout le cercle */
    z-index: 1;          /* derrière autres éléments si nécessaire */
}
